:root {
    /* color palette hwb format */
    --mainColor: 216 44% 0%;
    --secondColor: 216 12% 68%;
    --thirdColor: 216 6% 88%;
    --complementaryColor: 54 19% 25%;
    --fontColor: #fff;
    /* transitions */
    --globalTransition: 100ms ease-out;
    /* fonts */
    --mainFont: 'Montserrat', sans-serif;
    --secondaryFont: 'Lato', sans-serif;
}

h2 {
    font-family: var(--mainFont);
    font-weight: 600;
    font-size: 3rem;
}

h3 {
    font-family: var(--mainFont);
    font-weight: 500;
}

/* fixes logo off center */
.navbar-brand {
    margin: 0;
}

/* fixes padding issues with bootstrap */
.container {
    padding: 0;
}

.d-flex {
    padding: 0;
}

/* used to hide elements */
.hidden {
    display: none;
}

/* background filter */
.bg-filter {
    position: absolute;
    background-color: #000000d8;
    backdrop-filter: grayscale();
    width: 100vw;
    height: 100vh;
}

/* background */
#bg-img {
    background-color: #111111;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
}

body {
    overflow-x: hidden;
}

/* modal */
.modal-content {
    background-color: hwb(var(--thirdColor));
    color: var(--fontColor);
}

.modal-header h5 {
    font-family: var(--mainFont);
    font-weight: 600;
}

.modal-body,
.modal-footer button {
    font-family: var(--secondaryFont);
}

.modal-footer button {
    background-color: hwb(var(--secondColor));
    border-radius: 100px;
    border: 0;
    transition: var(--globalTransition);
    /* fake depth v2 */
    box-shadow:
    inset 6px 11px 3px #ffffff05,
    inset 5px 9px 3px #ffffff05,
    inset 4px 7px 3px #ffffff05,
    inset 3px 5px 3px #ffffff05,
    inset 2px 3px 3px #ffffff05,
    inset 1px 1px 3px #ffffff05;
}

.modal-footer button:hover {
    background-color: hwb(var(--mainColor));
    /* fake depth v2 */
    box-shadow:
    inset -11px -26px 3px #00000010,
    inset -9px -21px 3px #00000010,
    inset -7px -16px 3px #00000010,
    inset -5px -11px 3px #00000010,
    inset -3px -6px 3px #00000010,
    inset -1px -1px 3px #00000010;
}

/* header */
header {
    background-color: hwb(var(--thirdColor));
}

/* logo */
header img {
    display: block;
    margin: 6px auto;
    width: 180px;
}

#input-area {
    display: flex;
    align-items: center;
    padding: 20px;
    backdrop-filter: brightness(1);
}

/* address and flight ID user input & search button */
#input-area input,
#input-area button {
    padding: 10px 30px;
    margin: 0 20px;
    font-size: 1rem;
    border-radius: 50px;
    border: 0;
    text-align: center;
    transition: var(--globalTransition);
    background-color: hwb(var(--secondColor));
    color: var(--fontColor);
    font-family: var(--mainFont);
    font-weight: 600;
    /* fake depth v2 */
    box-shadow:
    inset 11px 26px 3px #ffffff04,
    inset 9px 21px 3px #ffffff04,
    inset 7px 16px 3px #ffffff04,
    inset 5px 11px 3px #ffffff04,
    inset 3px 6px 3px #ffffff04,
    inset 1px 1px 3px #ffffff04;
}

#input-area input:focus,
#input-area button:hover {
    outline: 0;
    scale: 104%;
    background-color: hwb(var(--mainColor));
    /* fake depth v2 */
    box-shadow:
    inset -11px -26px 3px #00000010,
    inset -9px -21px 3px #00000010,
    inset -7px -16px 3px #00000010,
    inset -5px -11px 3px #00000010,
    inset -3px -6px 3px #00000010,
    inset -1px -1px 3px #00000010;
}

/* input placeholder text */
input::placeholder {
    color: hwb(216 60% 20%);
    font-family: var(--secondaryFont);
}

/* input dropdown */
#your-address-dropdown,
#flight-id-dropdown {
    width: 93%;
    background-color: #00000000;
    transition: var(--globalTransition);
    border: 0;
}

/* fixes dropdown displaying about input */
.dropdown-menu {
    z-index: -1;
}

#your-address-dropdown li,
#flight-id-dropdown li {
    font-family: var(--secondaryFont);
    text-align: center;
    color: var(--fontColor);
    overflow: hidden;
    background: radial-gradient(circle, hwb(var(--secondColor)) 80%, #00000000);
    padding: 10px;
    margin: 0 -3px;
}

#your-address-dropdown li:hover,
#flight-id-dropdown li:hover {
    cursor: pointer;
    background: radial-gradient(circle, hwb(var(--mainColor)) 80%, #00000000);
}

/* welcome container */
.arv-info {
    color: var(--fontColor);
    background-color: #00000050;
    padding: 80px;
    margin: 60px auto;
    font-size: 1.6rem;
    text-align: center;
    border: 2px solid hwb(var(--complementaryColor));
}

#welcome {
    font-family: var(--mainFont);
    font-weight: 600;
    margin-bottom: 40px;
}

#arv-info p {
    font-family: var(--secondaryFont);
}

.flight {
    background-color: #00000050;
    padding: 40px;
    margin: 60px 0;
    border-left: 2px solid hwb(var(--complementaryColor));
}

/* bing map */
#myMap {
    border: 2px solid hwb(var(--complementaryColor));
}

/* flight info text */
#flight-info {
    font-family: var(--secondaryFont);
    color: var(--fontColor);
    font-size: 1.2rem;
    padding-right: 40px;
    padding-left: 0;
}

#flight-info h2,
#flight-number,
#flight-status,
#driving-directions h2 {
    margin: 0;
    padding: 10px 0;
}

#flight-info-items {
    display:grid;
    grid-template-columns:  1fr 1fr 1fr;
    grid-template-areas: 
    "departure arrival driver" ;
    list-style: none;
    margin: 0;
    padding: 20px 0;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

#flight-info-items li {
    border-top: 2px solid hwb(var(--secondColor));
}

#departure-details {
    grid-area:departure;
}

#arrival-details {
    grid-area:arrival;
}

#driver-details {
    grid-area:driver;
}

/* Directions */
#driving-directions {
    background-color: #00000050;
    border-left: 2px solid hwb(var(--complementaryColor));
    color: var(--fontColor);
    padding: 40px;
}

/* avoid tolls & avoid highways */
.checkboxes {
    padding: 20px;
}

/* driving directions labels */
#driving-directions label {
    font-family: var(--mainFont);
    font-weight: 500;
    font-size: 1.6rem;
    margin-left: 20px;
    padding: 20px 0;
}

input[type="checkbox"] {
    background-color: hwb(var(--secondColor));
    appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 100px;
    cursor: pointer;
    scale: 160%;
    transition: var(--globalTransition);
    /* fake depth v2 */
    box-shadow:
    inset 6px 11px 3px #ffffff05,
    inset 5px 9px 3px #ffffff05,
    inset 4px 7px 3px #ffffff05,
    inset 3px 5px 3px #ffffff05,
    inset 2px 3px 3px #ffffff05,
    inset 1px 1px 3px #ffffff05;
}

input[type="checkbox"]:hover {
    background-color: hwb(var(--mainColor));
    /* fake depth v2 */
    box-shadow:
    inset -6px -11px 3px #00000010,
    inset -5px -9px 3px #00000010,
    inset -4px -7px 3px #00000010,
    inset -3px -5px 3px #00000010,
    inset -2px -3px 3px #00000010,
    inset -1px -1px 3px #00000010;
}

input[type="checkbox"]:checked {
    background-color: hwb(var(--mainColor));
    width: 36px;
    /* fake depth v2 */
    box-shadow:
    inset -6px -11px 3px #00000010,
    inset -5px -9px 3px #00000010,
    inset -4px -7px 3px #00000010,
    inset -3px -5px 3px #00000010,
    inset -2px -3px 3px #00000010,
    inset -1px -1px 3px #00000010;
}

#driving-directions ol {
    font-family: var(--secondaryFont);
    font-size: 1.2rem;
}

/* expand driving directions */
#hide-button {
    cursor: pointer;
    font-family: var(--mainFont);
    font-weight: 500;
    font-size: 1.4rem;
    margin: 30px 0;
    padding-left: 20px;
    color: hwb(var(--secondColor));
    transition: var(--globalTransition);
    border-left: 0px solid hwb(var(--complementaryColor));
    border-radius: 100px;
}

#hide-button:hover {
    color: hwb(var(--mainColor));
    border-left: 20px solid hwb(var(--complementaryColor));
    border-radius: 100px;
}

/* total driving time */
#driving-directions > p {
    font-family: var(--secondaryFont);
    font-size: 1.6rem;
    text-align: center;
}

/* Footer Credit */
footer p {
    font-family: var(--secondaryFont);
    color: var(--fontColor);
    text-align: center;
    margin: 0;
    padding: 20px;
}

/* mobile */
@media screen and (max-width: 992px) {

    h2 {
        font-size: 2rem;
        text-align: center;
    }

    #input-area {
        padding: 0;
        flex-direction: column;
    }

    #input-area input,
    #input-area button {
        font-size: 1.4rem;
        margin: 20px;
    }

    /* input dropdown */
    #your-address-dropdown,
    #flight-id-dropdown {
        transition: 0ms;
    }

    /* fixes dropdown displaying about input */
    .dropdown-menu {
        z-index: 1;
    }

    /* welcome container */
    .arv-info {
        padding: 20px;
        margin: 20px auto;
        font-size: 1.4rem;
    }
    
    .flight {
        padding: 20px;
        margin: 20px 0;
    }

    #flight-info-items {
        display:grid;
        grid-template-columns:  1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
        "departure" 
        "arrival"
        "driver";
    }

    /* Directions */
    #driving-directions {
        padding: 20px;
    }

    #driving-directions label {
        font-size: 1.4rem;
    }

    /* total driving time */
    #driving-directions > p {
        font-size: 1.2rem;
    }

}

/* delete scrollbar */
::-webkit-scrollbar {
    display: none;
}
