:root {
    /* color palette */
    --mainColor: hwb(216 44% 0%);
    --secondColor: hwb(216 12% 68%);
    --thirdColor: hwb(216 6% 88%);
    --complementaryColor: hwb(54 19% 25%);
    --fontColor: #fff;
    /* transitions */
    --globalTransition: 100ms ease-out;
    /* fonts */
    --mainFont: 'Montserrat', sans-serif;
    --secondaryFont: 'Lato', sans-serif;
}

h2 {
    font-family: var(--mainFont);
    font-weight: 600;
}

h3 {
    font-family: var(--mainFont);
    font-weight: 500;
}

/* used to hide elements */
.hidden {
    display: none;
}

/* background filter */
.bg-filter {
    position: absolute;
    background-color: #000000d3;
    backdrop-filter: blur(0px) grayscale();
    width: 100vw;
    height: 100vh;
}

/* background */
#bg-img {
    background-color: #111111;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
}

body {
    overflow-x: hidden;
}

/* header */
header {
    background-color: var(--thirdColor);
}

/* logo */
header img {
    display: block;
    margin: 0 auto;
}

#input-area {
    display: flex;
    align-items: center;
    padding: 10px;
    backdrop-filter: blur(3px) brightness(0.8);
}

/* address and flight ID user input & search button */
#input-area input,
#input-area button {
    padding: 10px 30px;
    margin: 0 20px;
    font-size: 1.2rem;
    border-radius: 50px;
    border: 0;
    text-align: center;
    transition: var(--globalTransition);
    background-color: var(--secondColor);
    color: var(--fontColor);
    font-family: var(--mainFont);
    font-weight: 600;
}


#input-area input:focus,
#input-area button:hover {
    outline: 0;
    scale: 104%;
}

#input-area input:focus {
    background-color: var(--thirdColor);
}

#input-area button:hover {
    background-color: var(--mainColor);
}

/* input placeholder text */
input::placeholder {
    color: hwb(216 60% 20%);
    font-family: var(--secondaryFont);
}

/* input dropdown */
#your-address-dropdown,
#flight-id-dropdown {
    width: 93%;
    background-color: #00000000;
    transition: var(--globalTransition);
    border: 0;
}

/* fixes dropdown displaying about input */
.dropdown-menu {
    z-index: -1;
}

#your-address-dropdown li,
#flight-id-dropdown li {
    font-family: var(--secondaryFont);
    text-align: center;
    color: var(--fontColor);
    overflow: hidden;
    background: radial-gradient(circle, var(--secondColor) 40%, #00000000);
    padding: 10px;
    margin: 0 -3px;
}

#your-address-dropdown li:hover,
#flight-id-dropdown li:hover {
    cursor: pointer;
    background: radial-gradient(circle, var(--mainColor) 40%, #00000000);
}

.flight {
    background-color: #0000002a;
    padding: 0 80px;
    margin: 40px 0;
}

/* bing map */
#myMap {
    border: 2px solid var(--complementaryColor);
}

/* flight info text */
#flight-info {
    font-family: var(--secondaryFont);
    color: var(--fontColor);
    font-size: 1.2rem;
    padding: 40px 0;
}

/* fixes padding issues */
.d-flex {
    padding: 0;
}

/* Directions */
#driving-directions {
    background-color: var(--thirdColor);
    border-top: 2px solid var(--complementaryColor);
    padding: 20px;
    color: var(--fontColor);
}

#flight-info-items {
    display:grid;
    grid-template-columns:  1fr 1fr 1fr;
    grid-template-areas: 
    "departure arrival driver" ;
}

#departure-details {
    grid-area:departure;
}

#arrival-details {
    grid-area:arrival;
}

#driver-details {
    grid-area:driver;
}

#myMap {
    position:relative;
    width:350px;
    height:350px;
}

/* mobile */
@media screen and (max-width: 992px) {
    #input-area {
        padding: 0;
        flex-direction: column;
    }

    #input-area input,
    #input-area button {
        font-size: 1.4rem;
        margin: 20px;
    }

    /* input dropdown */
    #your-address-dropdown,
    #flight-id-dropdown {
        transition: 0ms;
    }


    /* fixes dropdown displaying about input */
    .dropdown-menu {
        z-index: 1;
    }
    
    .flight {
        padding: 20px;
        margin: 20px 0;
    }

#flight-info-items {
    display:grid;
    grid-template-columns:  1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "departure" 
    "arrival"
    "driver";
}

#departure-details {
    grid-area:departure;
}

#arrival-details {
    grid-area:arrival;
}

#driver-details {
    grid-area:driver;
}

}


    .container {
        padding: 0;
    }

@media screen and (max-width: 768px) {}


#hide-button {
    cursor: pointer;

}

.driving-directions
 {
    color: var(--fontColor);

}
.arv-info {
    color: var(--fontColor);
    background-color: #0000002a;
    padding: 5vh 3vw;
    margin: 15vh auto;
    box-shadow: 1em 1em .5em #0000002a, -1em -1em .5em #0000002a, 1em -1em .5em #0000002a, -1em 1em .5em #0000002a;
    font-size: 25px;
    text-align: center;
    border-radius: 50px;
}

#welcome {
    margin-bottom: 5vh;
}


footer {
    color: var(--fontColor);
    text-align: center;
}