:root {
    --globalTransition: 100ms ease-out;
}

/* used to hide elements */
.hidden {
    display: none;
}

/* background filter */
.bg-filter {
    position: absolute;
    /* background-color: #00000069; */
    backdrop-filter: blur(3px) grayscale() brightness(20%);
    width: 100vw;
    height: 100vh;
}

/* background */
#bg-img {
    background-color: #eeeeee;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
}

/* header */
header {
    background-color: #1b1b25;
}

/* logo */
header img {
    display: block;
    margin: 0 auto;
}

#input-area {
    display: flex;
    align-items: center;
}

/* address and flight ID user input */
#input-area input,
#input-area button {
    padding: 8px;
    margin: 20px;
    font-size: 1.6rem;
    border-radius: 5px;
    border: 0;
    text-align: center;
    transition: var(--globalTransition);
    background-color: #00000080;
    color: #eeeeee;
}

#input-area input:focus,
#input-area button:hover {
    outline: 0;
    background-color: #0000003f;
    scale: 104%;
    /* fake depth */
    box-shadow: 
        inset 5px 5px 5px #ffffff0e,
        inset -5px -5px 5px #0000000e;
}

input::placeholder {
    color: #d2d9f0;
}

#your-address-dropdown,
#flight-id-dropdown {
    width: 93%;
    background-color: #00000000;
}

#your-address-dropdown li,
#flight-id-dropdown li {
    text-align: center;
    background-color: aqua;
}

@media screen and (max-width: 992px) {
    #input-area {
        flex-direction: column;
    }

}

@media screen and (max-width: 768px) {

}